<script src="stomp.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

URL:<br>
  <input type="text" name="url" id="stuff_url">
  <br><br>
  <button type="submit" onclick ="sendRequest()" id="submit_url" value="Submit">send</button>

<script>
function sendRequest(){
	var input = {"url" : document.getElementById("stuff_url").value};
  console.log(JSON.stringify(input));
	$.ajax({
    url: 'http://localhost:8889/form',
    type: 'POST',
    data: JSON.stringify(input) ,
     crossDomain: true,
            success: function () { },
            failure: function () { },
            complete: function (data) {
                if (data.readyState == '4' && data.status == '200') {
                    errorLog.push({ IP: Host, Status: 'SUCCESS' })
                }
                else {
                    errorLog.push({ IP: Host, Status: 'FAIL' })
                }
            }
        });
}
</script>




<script>
var ws = new WebSocket('ws://127.0.0.1:15674/ws');
var client = Stomp.over(ws);
var on_connect = function() {
	//client.send("/queue/task", {priority: 9}, "Hello, STOMP");
	var subscription = client.subscribe("/queue/stuff_queue", callback);
	//console.log(subscription);
    console.log('connected');
};
var on_error =  function() {
    console.log('error');
};

 callback = function(message) {
    if (message.body) {
      //console.log("got message with body " + message.body)
      var mydata = JSON.parse(message.body);
      for (x in mydata) {
        if(String(x) == "price")
        {
        	document.getElementById("price").innerHTML = mydata.price;
    	}
    	else if(String(x) == "name")
    	{
    		document.getElementById("name").innerHTML = mydata.name;
    	}
    	else if(String(x) == "err")
    	{
    		document.getElementById("err").innerHTML = mydata.err;
    	}
    	else if(String(x) == "img")
    	{
    		var imgi = new Image();
    		var ht = "http:"
            imgi.src = ht.concat(mydata.img);
            document.getElementById("image").innerHTML='';
    		document.getElementById("image").appendChild(imgi);
           	
    	}
    }

    } else {
      console.log("got empty message");
    }
  };

client.heartbeat.outgoing = 10000; 
client.heartbeat.incoming = 0;
client.connect('guest', 'guest', on_connect, on_error, '/');

</script>


<p>err =      </p>    <p id="err"></p>

</br>
<p>name =      </p>    <p id="name"></p>

</br>

<p>price =      </p>    <p id="price"></p>

</br>

<div id="image">
         
     </div>
